@using AlgoCards.Constants

<div class="card" style="max-width:10em; background:whitesmoke; color:gray; margin:1em; border-radius:.5em;">
                <div class="card-header" style="background:transparent;border:none;">
                    <div class="row">
                        <div class="col" style="max-width:7em;padding-right:0;">
                                @if (Card.CardValue > 1
                                    && Card.CardValue < 11)
                                {
                                    <h1>@Card.CardValue</h1>
                                }
                                @if (Card.CardValue == 0)
                            {
                                <h1>JK</h1>
                            }
                            @if (Card.CardValue > 10 ||
                                Card.CardValue == 1)
                            {
                                <h1>@Card.Index.ToString()[1].ToString()</h1>
                            }
                        </div>
                        <div class="col" style="max-width:3em;padding-left:0;">
                            @if (Card.Suit.CompareTo(CardSuit.hearts) == 0)
                            {
                                <image src="assets/icons/heart.png" style="max-width:2.5em;max-height:2.5em;"></image>   
                            }
                            @if (Card.Suit.CompareTo(CardSuit.spades) == 0)
                            {
                                <image src="assets/icons/spade.png" style="max-width:2.5em;max-height:2.5em;"></image>   
                            }
                            @if (Card.Suit.CompareTo(CardSuit.diamonds) == 0)
                            {
                                <image src="assets/icons/diamond.png" style="max-width:2.5em;max-height:2.5em;"></image>   
                            }
                            @if (Card.Suit.CompareTo(CardSuit.clubs) == 0)
                            {
                                <image src="assets/icons/club.png" style="max-width:2.5em;max-height:2.5em;"></image>   
                            }
                            @if (Card.Suit.CompareTo(CardSuit.joker) == 0)
                            {
                                <i class="fa-solid fa-skull-crossbones"></i>    
                            }
                        </div>
                    </div>
                </div>
@*                <div class="card-body">
                    <div class="row">@card.Rank</div>
                    <div class="row">@card.Suit</div>
                    <div class="row">@card.ToString()</div>
                    <div class="row">Index: @card.Index | @((int)card.Index)</div>
                </div>*@
            </div>