@using BlazorApp.Client.Utils.Enums
<h1>BlackJack</h1>
<h3>Player Bank: @playerBank</h3>

<div class="row">
    <div class="col" style="max-width:100px">
        <h3>Wager: </h3>
    </div>
    <div class="col" style="font-size:x-large;">
        <EditForm Model=this>
            <InputNumber @bind-Value=playerWager style="max-width:50px"/>
        </EditForm>
    </div>
    <div class="col-auto"></div>
</div>



<div class="row" style="margin-top:2em;">
    <div class="col">
        <h5>Player</h5>
        @foreach (var card in playerHand)
        {
            <PlayingCard Card=card />
        }
    </div>
    <div class="col">
        <h5>Dealer</h5>

        <div class="row" style="color:var(--accent)">
            @if (handIsActive)
            {
                @foreach (var card in GetDealerShow(dealerHand))
                {
                    <PlayingCard Card=card />
                }
            }

            @if (!handIsActive)
            {
                @foreach (var card in dealerHand)
                {
                    <PlayingCard Card=card />
                }
            }
        </div>
    </div>
</div>
<div class="row" style="color:var(--accent)">
    @if (playerHandValue > 0)
    {
        <h3>Player: @playerHandValue</h3>
        @if (!handIsActive)
        {
            <h3>Dealer: @dealerHandValue</h3>
        }
        else
        {
            <h3>Dealer: @dealerShowValue</h3>

        }
        <h3>Wager: @handWager</h3>
    }
</div>
<h4>@dealerMessage</h4>
@if (!handIsActive)
{
    <button class="btn btn-xl" style="background:Green" @onclick=Deal>Deal</button>
}
@if (handIsActive)
{
    @foreach (var opt in playerActions)
    {
        if (opt == BlackJackPlayerActions.Stay)
        {
            <button class="btn btn-lg" style="margin:1em; background:green" @onclick=PlayerStays>Stay</button>
        }

        if (opt == BlackJackPlayerActions.Hit)
        {
            <button class="btn btn-lg" style="margin:1em; background:orange" @onclick=PlayerHits>Hit</button>
        }

        if (opt == BlackJackPlayerActions.DoubleDown)
        {
            <button class="btn btn-lg" style="margin:1em; background:orangered" @onclick=PlayerDoubles>Double Down</button>
        }

        @*        if (opt == BlackJackPlayerActions.Split)
            {
            <button class="btn btn-lg btn-warning" style="margin:1em;" @onclick=PlayerSplits>Split</button>
            }*@
    }
}

